.about__firma {
	margin: 70px 0px 0px;
}
.photo__mrfox {
	background-size: cover;
	position: relative;
	background-repeat: no-repeat;
	max-height: 600px;
}
.text__fox {
	font-weight: 500;
	font-size: 18px;
	line-height: 143%;
	color: #737373;
	padding: 0px 0px 40px;
	margin: 0px 0px 30px;
	max-width: 80%;
}
