<footer class="footer">
	<div class="footer__top">
		<div class="footer__maincont _container">
			<div class="footer__body">
				<div class="footer__row">
					<div class="footer__column">
						<div class="footer__label">Webstore Menu</div>
						<nav class="footer__menu menu-footer">
							<ul class="menu-footer__list">
								<li class="menu-footer__item">
									<a href="index.html" class="menu-footer__link">HOME</a>
								</li>
								<li class="menu-footer__item">
									<a href="product.html" class="menu-footer__link">SKLEP</a>
								</li>
								<li class="menu-footer__item">
									<a href="../html/firma.html" class="menu-footer__link"
										>MRFOX</a
									>
								</li>
							</ul>
						</nav>
					</div>
					<div class="footer__column">
						<div class="footer__label">Obsługa Klienta</div>
						<nav class="footer__menu menu-footer">
							<ul class="menu-footer__list">
								<li class="menu-footer__item">
									<a href="../html/firma.html#qna" class="menu-footer__link"
										>FAQ</a
									>
								</li>
								<li class="menu-footer__item">
									<a href="contact.html" class="menu-footer__link">CONTAKT</a>
								</li>
							</ul>
						</nav>
					</div>
					<div class="footer__column">
						<div class="footer__label">Dołącz do nas</div>
						<div class="footer__contacts contacts-footer">
							<a
								href=""
								class="contacts-footer__item contacts-footer__item_location"
							>
								<img
									class="footer__img"
									src="img/footerIcon/instagram.svg"
									alt=""
								/>
								Instagram</a
							>
							<a
								href=""
								class="contacts-footer__item contacts-footer__item_location"
							>
								<img
									class="footer__img"
									src="img/footerIcon/facebook.svg"
									alt=""
								/>
								Facebook</a
							>
							<a
								href=""
								class="contacts-footer__item contacts-footer__item_location"
							>
								<img
									class="footer__img"
									src="img/footerIcon/twitter.svg"
									alt=""
								/>
								Twitter</a
							>
						</div>
					</div>
				</div>
				<div class="footer__logo">
					MrFox Styles
					<img class="logo__svg" src="img/header/fox_logo.svg" />
				</div>
			</div>
		</div>
	</div>
</footer>
